<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.portfolio.mapper.FirstMapper">
	<select id="test" resultType="FirstDo">
		SELECT title
		FROM   paging_table
		WHERE  seq = 1
	</select>
</mapper>